package:
  name: mantid2mcvine
  version: XXXVERSIONXXX

source:
  git_rev: XXXGIT_REVXXX
  git_url: https://github.com/mcvine/mantid2mcvine.git

requirements:
  host:
    - python

  run:
    - python
    - mcvine-core           >=1.4
    - mantid-framework      6

build:
  noarch: python

test:
  imports:
    - mantid2mcvine
  
about:
  home: http://mcvine.org
  license:
  license_file:
