name: CI

env: {}

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "00 19 * * *"

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8"]
    steps:
      - name: install glut
        run: sudo apt-get update && sudo apt-get install -y procps freeglut3-dev libglu1-mesa unzip

      - name: Check out source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: ~/.mantid
        run: git clone https://github.com/yxqd/dotmantid ~/.mantid

      # setup conda
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: testenv
          python-version: ${{ matrix.python-version }}
          channels: mcvine,conda-forge

      # install deps and build
      - name: install / build
        shell: pwsh
        run: |
          conda install mamba
          mamba install pytest pytest-cov coveralls openmpi mcvine.workflow mantid-framework=6
          python -c "import matplotlib; import mantid"
          mcvine
          # hack: remove mantid2mcvine installed by conda
          rm -rf ${CONDA_PREFIX}/lib/python${PYTHON_VERSION}/site-packages/mantid2mcvine*
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}

      # test
      - name: test
        shell: pwsh
        run: |
          PYTHONPATH=$PWD py.test -s --cov=mantid2mcvine tests

      - name: Coveralls
        shell: pwsh
        run: coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

      - name: conda build and upload
        shell: pwsh
        run: |
          echo "skip for now"
          # ./builders/conda_build_and_upload.sh
        env:
          TRAVIS_PYTHON_VERSION: ${{ matrix.python-version }}
          CONDA_UPLOAD_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
